
* {
	margin: auto;
}

body {
	margin: 0;
}
header {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 450px;
	width: 100%;
}
/*Navigation*/
nav {
	
	height: 600px;
}

nav > a {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	color: #e68a00;
	text-align: left;
	position: absolute;
	left: 150px;
	top: 25px;
	
}
nav ul  {
	position: absolute;
	right: 160px;
	top: 25px;
	
	
}
nav ul li {
	display: inline-block;
	padding: 5px 20px;
}
nav ul li a {
	font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
	letter-spacing: 0.05em;
	color: #e6e6e6;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
	color: #ffdb4d;
}
/*header words*/
.bgwords {
	text-align: center;

}
.bgwords h4 {
	font-family: 'PT Serif', serif;
	color: white;
	font-size: 40px;
	
	top: 200px;

	position: relative;
}
.bgwords h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 60px;
	color: white;
	letter-spacing: 0.05em;

	top: 170px;
	position: relative;
}
.bgwords .cta {
	background-color: #ffff1a;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	letter-spacing: 0.05em;
	padding: 10px 20px;
	top: 150px;
	position: relative;
}
.bgwords .cta:hover{
	color: #CDC71D;
	background-color: #0B1016;
}
/*services section*/
.services {
	text-align: center;
	padding-top: 60px;
	width: 100%;
	height: 300px;
	
}
.introservices h4 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
	letter-spacing: 0.03em;
	margin: 2px 0;
}
.introservices p {
	color: #5c5c3d;
	margin: 2px 0;
}

.threeparts {
	margin: 50px auto;
	position: relative;
	left: 4%;
}
.ecommerce, .responsive, .wedsecurity {
	width: 23%;
	height: 90px;
	float: left;
	margin-left: 105px;
}
.threeparts i {
	color: #ffff00;
}
.threeparts i:hover {
	color: #ffff4d;
	
	cursor: pointer;
}
.ecommerce .fa-trash, .responsive .fa-laptop, .wedsecurity .fa-lock{
	font-size: 2.5em;
}
.threeparts h3 {
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0.02em;
	margin-top: 10px;
	margin-bottom: 3px;

}
.threeparts p {
	color: #5c5c3d;
	text-align: center;
	margin-top: 2px;
}

/*portfolio section*/
.portfolio {
	background-color: #f2f2f2;
	height: 850px;
}
.introportfolio h4 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
	letter-spacing: 0.03em;
	margin-bottom: 0;
	margin-top: 20px;
}
.introportfolio {
	text-align: center;
	padding-top: 30px;
}
.introportfolio p {
	margin-top: 2px;
	color: #5c5c3d;
}

.picture {
	background-color: white;
	height: 290px;
	width: 19%;
	display: inline-block;
	margin-left: 3%;
	margin-top: 40px;
}
.picture a:hover {
	opacity: 0.8;
	cursor: pointer;
}
.portfolio .picture img {
	height: 210px;
	width: 100%;
}
.portfolio .picture h3 {
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0.02em;
	margin-bottom: 0;
	margin-top: 10px;
}
/*about us*/
.aboutus {
	height: 1880px;
} 
.introaboutus {
	text-align: center;
	margin-bottom: 100px;
}
.aboutus .introaboutus h4 {
	font-size: 25px;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 40px;
	letter-spacing: 0.03em;
	margin-bottom: 0;
}
.aboutus .introaboutus p {
	margin-top: 2px;
	color: #5c5c3d;

}

.storybox {
	height: 1350px;
}
.storybox .story {
	width: 70%;
	height: 210px;
	margin: 0 auto;
	padding-top: 0;
	text-align: center;
}
.content, .blank, .image {
	height: 170px;
	width: 30%;
	float: left;
	margin-left:8px;
	
}
.content {
	text-align: right;
}
.image img {
	height: 210px;
	width: 80%;
	
	border-radius: 50%;
	border: 4px solid #d9d9d9;
	margin-left: 20%;

	
}
.image img:hover {
	opacity: 0.8;
	cursor: pointer;
}
.storybox .story .content h3 {
	margin: 0;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0.03em;
	line-height: 1.8em;

}
.storybox .story .image {
	text-align: center;
}
.storybox .story .content p {
	color: #5c5c3d;
}

hr {
	width: 1px;
	height: 130px;
	border: 1px solid #d9d9d9;
	background-color: #d9d9d9;
	margin: 0 auto;

}

.story .content#alignleft1 {
	text-align: left;
	margin-left: 40px;
}
.story .content#alignleft2 {
	text-align: left;
	margin-left: 40px;
}
.story .image#lastpic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 4px solid #d9d9d9;
	position: absolute;
	left: 44%;
	background-color: #ffcc00;
}
.story .image#lastpic:hover {
	opacity: 0.8;

}

.story .image#lastpic h3 {
	color: white;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0.06em;
	padding-top: 30px;
	line-height: 1.5em;
}
.story .image#lastpic a {
	text-decoration: none;
}

/*Our team*/
.team {
	background-color: #f2f2f2;
	height: 700px;
}
.introteam {
	text-align: center;
	padding-top: 25px;
} 
.introteam h4 {
	font-size: 25px;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0.03em;
	margin-bottom: 0;
	margin-top: 20px;
}
.introteam p {
	margin-top: 4px;
	color: #5c5c3d;
}
.teamleader {
	height: 360px;
	text-align: center;
	margin-left: 22%;
	margin-top: 100px;
}
.teamleader img {
	height: 220px;
	width: 230px;
	border-radius: 50%;
}
.teamleader img:hover {
	opacity: 0.7;

}
.leader1, .leader2, .leader3 {
	float: left;
	margin-left: 5%; 
} 
.teamleader h6 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 3px;
}	
.teamleader p {
	color: #5c5c3d;
	margin-top: 5px;
}
.icon div {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 2px solid black;
}
.icon div {
	text-align: center;
	display: inline-block;
	margin-left: 4px;
}
.icon div i {
	padding: 5px;
}
.icon div i:hover {
	cursor: pointer;
	opacity: 0.7;
}
.team p {
	color: #5c5c3d;
	text-align: center;
	line-height: 0.2em;
	margin-top: 20px;
	margin-bottom: 22px;
}

/*footer*/
footer .img img {
	height: 90px;
	width:50%;

}
footer .img {
	text-align: center;
}
.footerbackground {
	background-image: url("../img/footerbackground.jpg");
	height: 680px;
	text-align: center;
	padding-top: 20px;

}
.introcontact h4 {
	color: white;
	font-size: 25px;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0.09em;
	margin-bottom: 3px;
	margin-top: 20px;
}
.introcontact p {
	color: #d9d9d9;
	margin-top: 8px;

}
form {
	margin-top: 70px;
}
form input, form textarea, form button {
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0.04em;
}

form .formright {
	float: right;
    right: 23%;
}
form .formleft, form .formright{
	display: inline-block;

	position: relative;
	margin-left: 90px;
}
form input {
	width: 360px;
	height: 15px;
	border-radius: 4px;
	padding: 15px;
	
	position: relative;
}
form textarea {
	height: 150px;
	width: 365px;
	border-radius: 4px;
	
	padding: 15px;
	
}
form button {
	width: 200px;
	height: 45px;
	background-color: #ffff1a;
	border: 4px solid #ffff1a;
	border-radius: 4px;
	color: white;
	position: relative;
	top: 60px;
}
form button:hover {
	cursor: pointer;
	color: #0B1016
}

.bottom p {
	width: 300px;
	margin-left: 20%;
	margin-top: 1%;
	font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
}
.bottomicon {
	top: 1%;
	position: relative;
	left: 35%;


}
.bottomicon div {
	height: 25px;
	width: 25px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: black;
	float: left;
	margin-left: 20px;
	position: relative;
	left: 550px;
	margin-top: -20px;
}
.bottomicon div:hover {
	cursor: pointer;
	opacity: 0.4;
}
.bottom div i {
	color: white;
	padding: 3px 2px;

}


@media (max-width: 890px) {
	nav ul li a {
		font-size: 11px;
	}
	.bgwords h4 {
		font-size: 25px;
	}
	.bgwords h1 {
		font-size: 25px;
	}

}
@media (max-width: 1040px) {
	.services {
		height: 600px;
	}
	.introservices h4 {
		font-size: 20px;
	}
	.introservices p {
		font-size: 14px;
	}
	.ecommerce, .responsive, .wedsecurity {
		width: initial;
		height: 170px;
		margin-left: initial;
	}
	.threeparts p {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 1110px) {
	.introportfolio p {
		font-size: 14px;
	}
	.picture {
		width: 65%;
		display: block;
		margin-left: 20%;
	}
	.portfolio {
		height: 2140px;
	}
	.aboutus .introaboutus p {
		font-size: 14px;

	}
	.storybox .story .content p {
		display: none;
	}
	.image img {
		width: 110px;
	}
	.storybox .story .content h3 {
		font-size: 10px;
	}
	.blank {
		display: none;
	}
	.story .content#alignleft1 {
		margin-left: 82px;
	}
	hr {
		display: none;
	}
	.storybox .story {
		margin: 50px auto;
	}
	.storybox .story .image {
		margin-left: -10px;
	}
	.story .content#alignleft2 {
		margin-left: 82px;
	}
	.story .image#lastpic {
		width: 140px;
		left: 25%;
	}
	.aboutus {
		height: 1430px;
	}
	.team {
		height: 1240px;
	}
	.team p {
		font-size: 14px;
	}
	.teamleader {
		margin-left: 10px;
		margin-top: 0;
	}
	.leader1, .leader2, .leader3 {
		margin-left: 30px;
		margin-top: 30px;
	}
	.teamleader img {
		width: 180px;
	}
	.team > .noshow {
		display: none;
	}
	.introcontact p {
		font-size: 14px;
	}
	form .formleft, form .formright {
		left: 5px;
		margin-left: 0;
	}
	form input {
		width: 120px;
	}
	form .formright {
		float: initial;
		width: 60%;
	}
	form textarea {
		width: 122px;
	}
	form button {
		width: 140px;
	}
	.bottom {
		display: none ;
	}
}